pkgbase = linux-ck-tt
	pkgver = 6.3.6
	pkgrel = 1
	url = https://github.com/RiverOnVenus/linux-ck-tt
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = python
	makedepends = perl
	makedepends = tar
	makedepends = xz
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.3.6.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.3.6.tar.sign
	source = config
	source = more-uarches-20221217.tar.gz::https://github.com/graysky2/kernel_compiler_patch/archive/20221217.tar.gz
	source = ck-hrtimer-d09271d382ae852c98e17bd7426fc8021e7b465e.tar.gz::https://github.com/graysky2/linux-patches/archive/d09271d382ae852c98e17bd7426fc8021e7b465e.tar.gz
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = 0002-tt.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/cpu-scheduler/6.3/0001-tt-6.3.patch
	source = 0003-bbr2.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.3/0001-bbr2.patch
	source = 0004-clearlinux.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.3/0001-clearlinux.patch
	source = 0005-cjktty.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.3/0001-cjktty.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 7a6a1f0dfa0bf7f45f9d4a7b409315cf32267850adab4db033a17de0320a24ef
	sha256sums = SKIP
	sha256sums = 21b9a9e542f853cdc695648d6ab6219bd2e881a4954277f241e104723c373d42
	sha256sums = f1d586e111932890ad5e0df15d092fb9b3f87bae4ea17812aae9b0ec98fe2db0
	sha256sums = f781da5ba492d8912c7d4cddac02f21c1799532182e23374c80c19ff0c617373
	sha256sums = 927ea3b7f4fc525a50352464e9623ca9d99044344f30a80b91eb8adf6deb21d2
	sha256sums = 2d00932c349daafe906681788e7759ed5e684859c0f8ecd5f91b8266b28947ea
	sha256sums = a27c89f588ffd6f8e1d2efc25cef2cf7eb90426c50e8b63c7152d71f7dcc27fd
	sha256sums = bc1fc0ed2f460f3d17bef938bb612e1587578c2736ea21e1853b9c66bb487853
	sha256sums = 427b16aeece1b62667ab34d45e43e4f476f5f4875daf8553597c95e2bfa22ef1

pkgname = linux-ck-tt
	pkgdesc = The Linux kernel and modules with Con Kolivas' hrtimer patches and TT CPU scheduler by Hamad Al Marri and with some other patches
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-ck-tt-headers
	pkgdesc = Headers and scripts for building modules for Linux-ck-tt kernel
	depends = pahole
	depends = linux-ck-tt
