pkgbase = linux-ck-tt
	pkgver = 6.1.9
	pkgrel = 1
	url = https://github.com/RiverOnVenus/linux-ck-tt
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.1.9.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.1.9.tar.sign
	source = config
	source = more-uarches-20221217.tar.gz::https://github.com/graysky2/kernel_compiler_patch/archive/20221217.tar.gz
	source = ck-hrtimer-fdbdf7e0ec56cd59e11d024c473e766429271a5c.tar.gz::https://github.com/graysky2/linux-patches/archive/fdbdf7e0ec56cd59e11d024c473e766429271a5c.tar.gz
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = 0002-tt.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/cpu-scheduler/6.1/tt-6.1.patch
	source = 0003-bbr2.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.1/0001-bbr2.patch
	source = 0004-clearlinux.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.1/0001-clearlinux.patch
	source = 0005-cjktty.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.1/0001-cjktty.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = d60cf185693c386e7acd9f3eb3a94ae30ffbfee0a9447a20e83711e0bdf5922b
	sha256sums = SKIP
	sha256sums = 0571ea17a2e38458096b679418197bbea8c414388f628d122517f3a1f3a31b3a
	sha256sums = f1d586e111932890ad5e0df15d092fb9b3f87bae4ea17812aae9b0ec98fe2db0
	sha256sums = 6d3b9cb4639c1c5eb4e2697aed0dbffa5b4a37d63a0861dec8315dd052723e0e
	sha256sums = a730917aa1ab33e79c094b69c3eb3ce080e6f9f4cb7a5b64c3e6b9ef0c53e631
	sha256sums = 91c6dead2b288a99f894a50715d0b2ae449f64e6fe0f297aece9d705beaa6d9a
	sha256sums = 016ed515dd7d940e5c22789dd16cbb060365311df72ff62d0b8a10261779f757
	sha256sums = 5df5caadaf02c1ac50b5565466834754e5aafaaf632ef9e7855478316ef319c8
	sha256sums = c5bdf89d7867c368dfd7b7c16e5a50a99ca8022de28ab15315bdcb5dab8aad85

pkgname = linux-ck-tt
	pkgdesc = The Linux kernel and modules with Con Kolivas' hrtimer patches and TT CPU scheduler by Hamad Al Marri and with some other patches
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-ck-tt-headers
	pkgdesc = Headers and scripts for building modules for Linux-ck-tt kernel
	depends = pahole
	depends = linux-ck-tt
