pkgbase = linux-ck-tt
	pkgver = 6.8.1
	pkgrel = 1
	url = https://github.com/RiverOnVenus/linux-ck-tt
	arch = x86_64
	arch = x86_64_v3
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = clang
	makedepends = llvm
	makedepends = lld
	makedepends = python
	options = !debug
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.8.1.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.8.1.tar.sign
	source = config
	source = https://github.com/archlinux/linux/releases/download/v6.8.1-arch1/linux-v6.8.1-arch1.patch.zst
	source = more-uarches-20240221.2.tar.gz::https://github.com/graysky2/kernel_compiler_patch/archive/20240221.2.tar.gz
	source = ck-hrtimer-ae3cbb29c43ca1baa6781f547d17b8ee5663e9d7.tar.gz::https://github.com/graysky2/linux-patches/archive/ae3cbb29c43ca1baa6781f547d17b8ee5663e9d7.tar.gz
	source = linux-clear::git+https://github.com/clearlinux-pkgs/linux.git#tag=6.8.1-1418
	source = 0002-bbr3.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.8/0001-bbr3.patch
	source = linux-clear::git+https://github.com/clearlinux-pkgs/linux.git#tag=6.8.1-1418
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 8d0c8936e3140a0fbdf511ad7a9f21121598f3656743898f47bb9052d37cff68
	sha256sums = SKIP
	sha256sums = 18fcff9fa723cef2feb654dae966a149f0ef0fea9dda1780d3de0ff07d4f8ab7
	sha256sums = 376db82b4613c3942932fde99d54c3dea1e4b29ab23d8b86daa6414327e6244d
	sha256sums = 1d3ac3e581cbc5108f882fcdc75d74f7f069654c71bad65febe5ba15a7a3a14f
	sha256sums = 111adfc5b9c7d3bfd7d1a06286e7bee853dd1f51ecca3948eed39710eaf51381
	sha256sums = 76796447078d6601bd6815a954703cedfae6af29cbced8c2f45a309d2c57c1bd
	sha256sums = 4529251ce0315362ff178baabf165fdb864685a7b3b21c870b37da5c5d14fbe6
	sha256sums = 76796447078d6601bd6815a954703cedfae6af29cbced8c2f45a309d2c57c1bd

pkgname = linux-ck-tt
	pkgdesc = The Linux kernel and modules with Con Kolivas' hrtimer patches and TT CPU scheduler by Hamad Al Marri and with some other patches
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-ck-tt-headers
	pkgdesc = Headers and scripts for building modules for Linux-ck-tt kernel
	depends = pahole
	depends = linux-ck-tt
