pkgbase = linux-ck-tt
	pkgver = 6.2.9
	pkgrel = 1
	url = https://github.com/RiverOnVenus/linux-ck-tt
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = clang
	makedepends = llvm
	makedepends = lld
	makedepends = python
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.2.9.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.2.9.tar.sign
	source = config
	source = more-uarches-20221217.tar.gz::https://github.com/graysky2/kernel_compiler_patch/archive/20221217.tar.gz
	source = ck-hrtimer-a8be5531ff07e300525c20bdbbe38cc6a665a0c4.tar.gz::https://github.com/graysky2/linux-patches/archive/a8be5531ff07e300525c20bdbbe38cc6a665a0c4.tar.gz
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = 0002-bpf-x86-Fix-IP-after-emitting-call-depth-accounting.patch
	source = 0003-tt.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/cpu-scheduler/6.2/0001-tt-6.2.patch
	source = 0004-bbr2.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.2/0001-bbr2.patch
	source = 0005-clearlinux.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.2/0001-clearlinux.patch
	source = 0006-cjktty.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.2/0001-cjktty.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 903449c164c03f0e742aacc920e18563585e07a28c6cb79e0fd6c36695fd43f5
	sha256sums = SKIP
	sha256sums = f9a0027bea53a7160759858c535eb0ba0b3bea34c0130f47f2d5bba75d102170
	sha256sums = f1d586e111932890ad5e0df15d092fb9b3f87bae4ea17812aae9b0ec98fe2db0
	sha256sums = 8cc3b4abb89c539fa1588aad65cd5bc79abbf8fcc1c885652e52fb8f66bf0199
	sha256sums = 2e7592ff8fb3cd0c461abb6524bc9f097033abe7fb9d464702b307eab97bd58f
	sha256sums = 9a289c848cd8ead4024aeaed951bfbc643686ea0a01fd14160d8031cdf976ae3
	sha256sums = 1d998b44f9f58decc277532f4327767f334e6148cdf1ef691e6f67b91fcb26a3
	sha256sums = 5945526efec4e5b436cc36650ead87da80fb9e1a5d275bcc3f9ea102bf0e4d50
	sha256sums = 500a9c59194334914e395f35d88ee87dca7f8af44964e29d8a43310f56573a1e
	sha256sums = 5dac65eb907c4a8970ca8caa2c63c9a3645ef96bcaa2cfb3cb10197b3d92db80

pkgname = linux-ck-tt
	pkgdesc = The Linux kernel and modules with Con Kolivas' hrtimer patches and TT CPU scheduler by Hamad Al Marri and with some other patches
	depends = coreutils
	depends = kmod
	depends = initramfs
	depends = pahole
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-ck-tt-headers
	pkgdesc = Headers and scripts for building modules for Linux-ck-tt kernel
	depends = pahole
	depends = linux-ck-tt
