pkgbase = linux-ck-tt
	pkgver = 6.1.1
	pkgrel = 1
	url = https://github.com/RiverOnVenus/linux-ck-tt
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.1.1.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.1.1.tar.sign
	source = config
	source = more-uarches-20221217.tar.gz::https://github.com/graysky2/kernel_compiler_patch/archive/20221217.tar.gz
	source = ck-hrtimer-fdbdf7e0ec56cd59e11d024c473e766429271a5c.tar.gz::https://github.com/graysky2/linux-patches/archive/fdbdf7e0ec56cd59e11d024c473e766429271a5c.tar.gz
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = 0002-drm-i915-improve-the-catch-all-evict-to-handle-lock-.patch
	source = 0003-futex-Resend-potentially-swallowed-owner-death-notif.patch
	source = 0004-tt.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/cpu-scheduler/6.1/tt-6.1.patch
	source = 0005-bbr2.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.1/0001-bbr2.patch
	source = 0006-clearlinux.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.1/0001-clearlinux.patch
	source = 0007-cjktty.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.1/0001-cjktty.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = a3e61377cf4435a9e2966b409a37a1056f6aaa59e561add9125a88e3c0971dfb
	sha256sums = SKIP
	sha256sums = 0571ea17a2e38458096b679418197bbea8c414388f628d122517f3a1f3a31b3a
	sha256sums = f1d586e111932890ad5e0df15d092fb9b3f87bae4ea17812aae9b0ec98fe2db0
	sha256sums = 6d3b9cb4639c1c5eb4e2697aed0dbffa5b4a37d63a0861dec8315dd052723e0e
	sha256sums = 865fa8cc41186a42225e89c845d438aefae6332d1ef18b94ef3aae04deb5e784
	sha256sums = 9c6191b355fcaf41cfeb92105ea0d24bbc51c993877d3fb5325f139997ede058
	sha256sums = 748e40e3a4b889850e8f86aee7ff96a93d43476a6529316bd823e18e23fc82f8
	sha256sums = 91c6dead2b288a99f894a50715d0b2ae449f64e6fe0f297aece9d705beaa6d9a
	sha256sums = 016ed515dd7d940e5c22789dd16cbb060365311df72ff62d0b8a10261779f757
	sha256sums = 5df5caadaf02c1ac50b5565466834754e5aafaaf632ef9e7855478316ef319c8
	sha256sums = c5bdf89d7867c368dfd7b7c16e5a50a99ca8022de28ab15315bdcb5dab8aad85

pkgname = linux-ck-tt
	pkgdesc = The Linux kernel and modules with Con Kolivas' hrtimer patches and TT CPU scheduler by Hamad Al Marri and with some other patches
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-ck-tt-headers
	pkgdesc = Headers and scripts for building modules for Linux-ck-tt kernel
	depends = pahole
	depends = linux-ck-tt
