pkgbase = linux-ck-tt
	pkgver = 6.1.8
	pkgrel = 1
	url = https://github.com/RiverOnVenus/linux-ck-tt
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.1.8.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.1.8.tar.sign
	source = config
	source = more-uarches-20221217.tar.gz::https://github.com/graysky2/kernel_compiler_patch/archive/20221217.tar.gz
	source = ck-hrtimer-fdbdf7e0ec56cd59e11d024c473e766429271a5c.tar.gz::https://github.com/graysky2/linux-patches/archive/fdbdf7e0ec56cd59e11d024c473e766429271a5c.tar.gz
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = 0002-Revert-drm-i915-improve-the-catch-all-evict-to-handl.patch
	source = 0003-drm-i915-improve-the-catch-all-evict-to-handle-lock-.patch
	source = 0004-drm-amdgpu-display-mst-Fix-mst_state-pbn_div-and-slo.patch
	source = 0005-drm-amdgpu-display-mst-limit-payload-to-be-updated-o.patch
	source = 0006-drm-amdgpu-display-mst-update-mst_mgr-relevant-varia.patch
	source = 0007-drm-display-dp_mst-Correct-the-kref-of-port.patch
	source = 0008-tt.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/cpu-scheduler/6.1/tt-6.1.patch
	source = 0009-bbr2.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.1/0001-bbr2.patch
	source = 0010-clearlinux.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.1/0001-clearlinux.patch
	source = 0011-cjktty.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.1/0001-cjktty.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = b60bb53ab8ba370a270454b11e93d41af29126fc72bd6ede517673e2e57b816d
	sha256sums = SKIP
	sha256sums = 0571ea17a2e38458096b679418197bbea8c414388f628d122517f3a1f3a31b3a
	sha256sums = 6ef57fc8adf11c32357074277f2d542545a2804b92d38d56e9de3db52f7f668e
	sha256sums = 2524c683f6bedd896ad7b06f02dde68e3c2b6f47de0f475630f228506e3ccfba
	sha256sums = dd0a155f8be7face604741716e5ea1ccd47c7988d4db4476f9736def57a6ae86
	sha256sums = b734f0f038647618617226794298b1cc7f6928dd43d46f056486a7d664fff3e0
	sha256sums = b725cde6ef68dcb2fe59a1e8646938d95d25a7292910dceef1adaeae229749e6
	sha256sums = 1aaa3c58e4129804eb704fbb66e1fe9a18d37059516f4153bb375a406a3c373a
	sha256sums = 6448060153217445d35f0f2191424acac53defe7a67f08cb7f7347c141bd535e
	sha256sums = a3c9ed15a33b7e7f1f589e6b0b00482b78aa7a0044940e4e3f87ad542db9308e
	sha256sums = 28d3e5daa705da23bdafc916695bc50cc8f65655c8965fb6d007d67dfa6cb52f
	sha256sums = 91c6dead2b288a99f894a50715d0b2ae449f64e6fe0f297aece9d705beaa6d9a
	sha256sums = 016ed515dd7d940e5c22789dd16cbb060365311df72ff62d0b8a10261779f757
	sha256sums = 5df5caadaf02c1ac50b5565466834754e5aafaaf632ef9e7855478316ef319c8
	sha256sums = c5bdf89d7867c368dfd7b7c16e5a50a99ca8022de28ab15315bdcb5dab8aad85

pkgname = linux-ck-tt
	pkgdesc = The Linux kernel and modules with Con Kolivas' hrtimer patches and TT CPU scheduler by Hamad Al Marri and with some other patches
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-ck-tt-headers
	pkgdesc = Headers and scripts for building modules for Linux-ck-tt kernel
	depends = pahole
	depends = linux-ck-tt
