pkgbase = linux-ek
	pkgver = 6.8.3
	pkgrel = 2
	url = https://github.com/RiverOnVenus/linux-ek
	arch = x86_64
	arch = x86_64_v3
	license = GPL-2.0-only
	makedepends = git
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = clang
	makedepends = llvm
	makedepends = lld
	makedepends = python
	options = !debug
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.8.3.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.8.3.tar.sign
	source = config
	source = https://github.com/archlinux/linux/releases/download/v6.8.3-arch1/linux-v6.8.3-arch1.patch.zst
	source = more-uarches-20240221.2.tar.gz::https://github.com/graysky2/kernel_compiler_patch/archive/20240221.2.tar.gz
	source = ck-hrtimer-ae3cbb29c43ca1baa6781f547d17b8ee5663e9d7.tar.gz::https://github.com/graysky2/linux-patches/archive/ae3cbb29c43ca1baa6781f547d17b8ee5663e9d7.tar.gz
	source = linux-clear::git+https://github.com/clearlinux-pkgs/linux.git#tag=6.8.2-1420
	source = 0001-echo.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/cpu-scheduler/6.8/0001-echo-004.patch
	source = 0002-ksm.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.8/0001-ksm.patch
	source = 0003-le9uo.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.8/0001-le9uo.patch
	source = 0004-bbr3.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.8/0001-bbr3.patch
	source = 0005-cjktty.patch::https://raw.githubusercontent.com/RiverOnVenus/kernel-patches/master/6.7/0001-cjktty-6.7.patch
	source = linux-clear::git+https://github.com/clearlinux-pkgs/linux.git#tag=6.8.2-1420
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = db7eb56d5014ee9a7fac0c715053155d92798d98d9197a2173eef1f0a496c986
	sha256sums = SKIP
	sha256sums = be42cd60340095855fdea3da8a98c0902c174dadb9c5fc9ad4d11779cdbf62f6
	sha256sums = 194f2f7729d94c1642d83f591022a787fda9963ac688b6a6f1b9b91514a00080
	sha256sums = 1d3ac3e581cbc5108f882fcdc75d74f7f069654c71bad65febe5ba15a7a3a14f
	sha256sums = 111adfc5b9c7d3bfd7d1a06286e7bee853dd1f51ecca3948eed39710eaf51381
	sha256sums = 95a59b97161078f3097b4d6dee861ab7834c0148681ff92252d2a232a650d7e5
	sha256sums = 3bf5b81abe9894d09804a723661c678e504b1c966703f235aeaebe272800af89
	sha256sums = c00406cc04aa97ccb1ff0fadd2c14fed8e363f7e8d4067810338b18f4ab64337
	sha256sums = b7f8bbbac6572c9c4b562a3a3d2b329804fdf20cf47d8871ab4d6ecd9beeb4d4
	sha256sums = 4529251ce0315362ff178baabf165fdb864685a7b3b21c870b37da5c5d14fbe6
	sha256sums = 4853ac7ea7271e9ac91ff9651d7002ed66ffd3751de49823e5b18f8300abdaf9
	sha256sums = 95a59b97161078f3097b4d6dee861ab7834c0148681ff92252d2a232a650d7e5

pkgname = linux-ek
	pkgdesc = The Linux kernel and modules with ECHO CPU scheduler by Hamad Al Marri and Con Kolivas' hrtimer patches and with some other stuff
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = uksmd: Userspace KSM helper daemon
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = UKSMD-BUILTIN
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-ek-headers
	pkgdesc = Headers and scripts for building modules for Linux-ek kernel
	depends = pahole
	depends = linux-ek
